// Override Bulma variables before importing
$primary: #96bef2; // Google Blue (API Setu-like)
$body-background-color: #f9f9f9;
$navbar-background-color: #ffffff;
$navbar-item-color: #333;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: #1e2b4f;
$family-sans-serif: 'Segoe UI', 'Roboto', sans-serif;
$body-font-size: 16px;
$body-min-height: 100vh;

@import 'bulma';